[submodule "Arts_Python_Tools"]
	path = Arts_Python_Tools
	url = git@github.com:amcgarity/Arts_Python_Tools.git
[submodule "StormWISE_Com_Engine"]
	path = StormWISE_Com_Engine
	url = git@github.com:amcgarity/StormWISE_Com_Engine.git
